.whyChoose-container {
  background-color: rgba(0, 0, 0, 0); /* transparent background */
  color: rgb(118, 118, 127); /* text color */
  font-family: "Poppins", sans-serif; /* font family */
}

.about-us-heading {
  font-family: "Poppins", sans-serif; /* Ensure the font family is correct */
  font-weight: 800; /* Make the text very bold */
  font-size: 3rem; /* Make the text size larger */
  color: #000000; /* Optional: Set the text color */
  margin: 0; /* Optional: Remove default margin */
}

.whyChoose-line-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whyChoose-line-wrapper .line {
  width: 100%; /* Line is set to take the full width of its container */
  height: 2px;
  background-color: #2b3991; /* Line color */
  margin-bottom: 35px; /* Space between the line and the image */
}

.whyChoose-container h2 {
  font-weight: bold;
  color: black; /* color for the heading */
  margin-bottom: 20px;
}

.whyChoose-container p {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: justify;
}

@media (min-width: 768px) {
  .whyChoose-container .header {
    width: 100%; /* Ensures the header and line take up the same width as the image */
  }
}
