/* src/ObjectiveAndWhatWeDo.css */
.container {
  margin-top: 20px;
}

.objective-section,
.what-we-do-section {
  position: relative;
  background-size: cover;
  color: white;
  padding: 40px;
  min-height: 300px; /* Ensure minimum height */
}

.objective-section {
  background-image: url("../../img/garden.jpeg");
}

.what-we-do-section {
  background-image: url("../../img/classroom.jpg");
}

.overlay {
  background-color: rgba(0, 0, 50, 0.7);
  padding: 20px;
}

.objective-section .overlay p,
.what-we-do-section .overlay ul,
.what-we-do-section .overlay li {
  color: white;
}

h2 {
  color: #fca311;
}

.objective-section ul,
.what-we-do-section ul {
  list-style: none;
  padding: 0;
}

.objective-section ul li,
.what-we-do-section ul li {
  margin-bottom: 10px;
}

.objective-section ul li:before,
.what-we-do-section ul li:before {
  content: "•";
  color: #fca311;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .objective-section,
  .what-we-do-section {
    padding: 20px;
  }

  .objective-section h2,
  .what-we-do-section h2 {
    font-size: 24px; /* Adjust font size for tablets */
  }

  .overlay p,
  .overlay ul,
  .overlay li {
    font-size: 16px; /* Adjust font size for tablets */
  }
}

@media (max-width: 576px) {
  .objective-section,
  .what-we-do-section {
    padding: 10px;
    min-height: 250px; /* Adjust minimum height for mobile */
  }

  .objective-section h2,
  .what-we-do-section h2 {
    font-size: 20px; /* Adjust font size for mobile devices */
  }

  .overlay p,
  .overlay ul,
  .overlay li {
    font-size: 14px; /* Adjust font size for mobile devices */
  }

  .row {
    flex-direction: column; /* Stack sections vertically on mobile */
  }
}
