.quote-section {
  background-color: #2b3991; /* Blue background color */
  color: white; /* White text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Height of the quote section */
  padding: 20px; /* Padding around the section */
}

.quote-container {
  max-width: 80%; /* Max width of the container */
  text-align: center;
  position: relative; /* Position relative to place the icons */
  display: flex;
  align-items: center;
}

.quote-text {
  font-family: "Poppins", sans-serif; /* Font family */
  font-size: 28px; /* Font size */
  font-weight: 300; /* Font weight */
  font-style: italic; /* Italic style */
  margin: 0; /* Remove default margin */
  color: white; /* Text color */
}

.quote-icon-left {
  position: absolute;
  top: -30px; /* Adjust position to the top left */
  left: -45px; /* Adjust position to the left */
  font-size: 3rem; /* Set a larger font size for the icons */
  color: #f7a721; /* Color of the quote icons */
}

.quote-icon-right {
  position: absolute;
  bottom: -50px; /* Adjust position to the bottom right */
  right: -20px; /* Adjust position to the right */
  font-size: 3rem; /* Set a larger font size for the icons */
  color: #f7a721; /* Color of the quote icons */
}
