.unique-course-container {
  padding: 20px;
  background-color: white;
}

.unique-course-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.unique-course-details {
  padding: 20px;
}

.unique-course-details h1 {
  font-size: 75px;
  font-weight: bolder;
  color: #2b3991;
  margin-bottom: 20px;
}

.unique-course-description {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2b3991;
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px; /* Added padding to give space for quotes */
}

.unique-course-description::before {
  left: 0;
  top: -10px;
}

.btn-primary {
  background-color: #2b3991;
  border: none;
}

.btn-primary:hover {
  background-color: #1e286e;
}

.quote-icon {
  font-size: 4rem; /* Increased font size for larger quotes */
  color: #2b3991;
  vertical-align: middle; /* Align icons vertically with text */
  margin: 0 5px; /* Added margin to space the icons from the text */
}

.underline {
  width: 300px;
  height: 7px;
  background-color: #fea92c;
  margin-top: -10px; /* Adjust based on the spacing you need */
  margin-bottom: 20px; /* Added margin-bottom for spacing */
  margin-left: 5px;
}
