.pic-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
  margin-top: 20px; /* Adjust margin as needed */
}

.pic-wrapper {
  width: 25%; /* Set width to display four images per row */
  text-align: center;
  margin-bottom: 20px; /* Adjust margin between rows */
}

.pic-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
  padding: 15px 15px;
}

.pic {
  width: 200px; /* Adjust image width as needed */
  height: 200px; /* Set height to match width to maintain aspect ratio */
  margin-right: 10px; /* Adjust gap between images */
  object-fit: cover;
}

.name {
  color: black;
  text-align: center;
  margin-top: 5px; /* Adjust as needed */
}

.one-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pic-binod {
  object-fit: cover;
  height: 200px;
  width: auto;
}

.pic-pasang {
  object-fit: cover;
  height: 200px;
  width: auto;
}

.pic-nisha {
  object-fit: cover;
  height: 200px;
  width: auto;
}
