@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}
.navbar {
  padding-top: 20px; /* Increase the top padding of the navbar */
  padding-bottom: 20px; /* Increase the bottom padding of the navbar */
  z-index: 9999;
}

.navbar-brand {
  margin-left: 70px;
}

.navbar-brand img {
  max-height: 60px; /* Adjust the maximum height of the logo */
}

.nav-item {
  margin-right: 50px;
  font-weight: bolder; /* Add more margin between navbar items */
}

.nav-item :hover {
  color: #2a3a91;
}
/* Optional: Add margin to the right of the last navbar item to avoid spacing after it */
.nav-item:last-child {
  margin-right: 0;
}

/* Show dropdown menu on hover */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 40px; /* Increase the gap between social media icons */
  color: #2a3a91; /* Change the color of the icons */
}

.social-icons a i {
  font-size: 30px; /* Adjust the size of the icons */
}

.dropdown-menu {
  min-width: 200px; /* Adjust the width as needed */
  animation: fadeInDown 0.5s ease; /* Add animation */
}

.dropdown-menu a {
  padding: 10px 20px; /* Adjust padding as needed */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu .dropdown-item:hover {
  color: #2a3a91; /* Change text color on hover */
}
