@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}
.navbar {
  padding-top: 20px; /* Increase the top padding of the navbar */
  padding-bottom: 20px; /* Increase the bottom padding of the navbar */
}

.navbar-brand {
  margin-left: 60px;
}

.navbar-brand img {
  height: 80px; /* Adjust the height of the logo */
}

.nav-item {
  margin-right: 50px;
  font-weight: bold; /* Add more margin between navbar items */
}

/* Optional: Add margin to the right of the last navbar item to avoid spacing after it */
.nav-item:last-child {
  margin-right: 0;
}

social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 25px; /* Increase the gap between social media icons */
  color: #2a3a91; /* Change the color of the icons */
}

.social-icons a i {
  font-size: 24px; /* Adjust the size of the icons */
}
