.unique-card {
  background-color: #2b3991; /* Dark blue background */
  color: white; /* White text */
  border: none; /* Remove border */
  border-radius: 15px; /* Rounded corners */
  margin-bottom: 20px; /* Increased space between cards */
  min-height: 450px; /* Set a minimum height */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.unique-card:hover {
  background-color: #243673; /* Darker blue on hover */
}

.icon {
  font-size: 2rem; /* Icon size */
  color: #ffc107; /* Yellow color for icons */
  transition: transform 0.3s ease; /* Smooth transition for transform */
}

.icon:hover {
  transform: translateY(-5px); /* Float animation */
}

.unique-card-title {
  font-size: 1.5rem; /* Larger title size */
  font-weight: bold; /* Bold font */
  text-align: center; /* Center-aligned */
  margin-bottom: 1rem; /* Space below the title */
}

.unique-card-text {
  font-size: 1rem; /* Text size */
  color: white;
  text-align: center; /* Center-aligned */
  line-height: 30px;
}

.divider {
  border-top: 3px solid #fea92c; /* Yellow color for divider */
  width: 50%; /* Set width of divider */
  margin: 0.5rem auto; /* Center the divider */
}

.empower {
  font-weight: bolder;
}
