.courses-container {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.courses-container.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; /* Prevent interaction during loading */
}

.courses-page {
  position: relative;
  min-height: 100vh; /* Ensure it covers the full viewport height */
  background: url("../../img/course-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px; /* Add padding to ensure content is not flush with the edges */
}

.course-header {
  color: white;
  font-weight: bolder;
  font-size: 4.5rem;
  text-align: center;
  margin-top: 20px;
}

.course-sub {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin: 40px 0 20px;
}

.course-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.course-col {
  width: 100%;
  max-width: 1600px; /* Adjust the width as needed */
  display: flex;
  justify-content: center;
}

.course-board {
  width: 100%;
  margin-bottom: 20px;
}

.course-board-img-top {
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.course-board-img-top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: brightness(0.5);
}

.course-board-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.course-board-body h5 {
  font-weight: bold;
}

.course-board-body p {
  margin-bottom: 20px;
}

.course-bg-primary {
  background-color: #2b3991 !important;
}

.course-btn-light {
  color: #2b3991;
  background-color: #fea92c;
  color: white;
  display: flex;
  align-content: center !important;
}

@media (max-width: 768px) {
  .course-col {
    width: 100%;
    max-width: none; /* Ensure it covers full width on smaller screens */
  }
}
