.blogs-container {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.blogs-container.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; /* Prevent interaction during loading */
}

.kts-blogs {
  font-weight: bolder;
  color: #2b3991;
}
