.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 3px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.course-option {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.course-option:hover {
  background-color: #f0f0f0;
}
