.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.course-option {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #2b3991;
  border-right: 2px solid #000; /* Add a vertical border */
}

.course-option:last-child {
  border-right: none; /* Remove the border from the last item */
}

.course-option:hover {
  background-color: #ffffff;
  color: black;
}
