.news-heading {
  background-color: #4747d7;
  height: 40vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.news-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: auto;
}
