.unique-caregiver-course-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.unique-caregiver-course-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.unique-caregiver-course-details {
  padding: 20px;
}

.unique-caregiver-course-details h1 {
  font-size: 75px;
  font-weight: bolder;
  color: #313d87;
  margin-bottom: 20px;
  text-align: left;
}

.quote-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.unique-caregiver-course-description {
  font-size: 1.2rem;
  font-weight: 600;
  color: #313d87;
  text-align: justify;
}
.thichne-kura {
  background-color: #313d87;
}
.underline {
  width: 300px;
  height: 7px;
  background-color: #fea92c;
  margin: -10px 0 20px 5px; /* Adjust margins as needed */
}

.certificate {
  color: black;
  background-color: #f9f9f9;
  line-height: 2;
  margin-top: 15px;
  margin-bottom: 1px;
  text-align: justify;
}

.custom-card-text ul {
  list-style-type: disc; /* Ensure bullet points (•) appear */
}

.custom-card-text {
  font-size: large;
  text-align: center;
}
